.menu {
    float: left;
    width: 89.9%;
    height: 8vh;
}

.menu ul li {
    list-style: none;
    float: left;
    width: 24%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    border-right: 2px dashed grey;
}

.menu ul li:nth-last-child(1){
    border-right: none;
}

.menu ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: darkgray;
    padding: 0 15px;
}

.menu ul li a:hover {
    color: #C5CC22;
}


.menu ul li a.active {
    color: #F7FF44;
}