.content ul{
    text-indent: 0;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.project {
    color: yellow;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

.project:hover {
    letter-spacing: 10px;
    transform: translateX(20px);
}